$colorText: #222222;

@mixin textPropertys($cl, $ff, $fsz, $fs, $fw, $lh) {
    color: $cl;
    font-family: $ff, sans-serif;
    font-size: $fsz;
    font-style: $fs;
    font-weight: $fw;
    line-height: $lh;
}